@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Indie+Flower&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Syne:wght@400..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  /* === COLORS === */
  --color-primary-red: #2306c2;
  --color-accent-yellow: #fffcc6;
  --color-secondary-white: #ffffff;
  --color-orange: #e48846;
  --color-dark-orange: #d14938;
  --color-light-orange: #f7c894;
  --color-yellow: #f5c961;
  --color-dark-yellow: #f0a901;
  --color-light-blue: #b5b5ff;
  --color-dark-blue: #4c4ddb;
  --color-blue: #2306c2;
  --color-purple: #2306c2;
  --color-dark-green: #146d57;
  --color-light-green: #97beac;

  /* === TYPOGRAPHY === */

  /* Font families */
  --font-family: "Karla", sans-serif;

  /* Font sizes */
  --font-size-h1: 96px;
  --font-size-large: 48px;
  --font-size-medium: 45px;
  --font-size-base: 40px;
  --font-size-small: 36px;

  --text-h1: 96px;
  --text-large: 48px;
  --text-medium: 45px;
  --text-base: 40px;
  --text-small: 36px;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  /* === TRANSPARENCY === */
  --opacity-card: 0.5;
  --opacity-accent: 0.4;

  /* === Slide-In === */
  --animate-slide-in: slide-in 10s ease-out forwards;
}

@layer base {
  html,
  body,
  #app {
    @apply h-screen w-screen overflow-hidden;
  }

  #app {
    @apply relative flex flex-col items-center justify-between p-5;
  }

  .app-grid {
    @apply grid w-full grid-cols-3 grid-rows-[2fr_1fr] gap-5;
    height: 980px;
  }

  body {
    font-family: var(--font-family);
  }

  h2 {
    @apply mb-5 text-center text-4xl font-black tracking-widest text-primary-red;
  }

  section.dr-news-module h2 {
    @apply text-accent-yellow;
  }
}

@layer components {
  /* Put custom component class styles here */
  section.module {
    @apply flex w-full flex-col rounded-xl p-5;
  }

  section.activities-module,
  section.menu-module,
  section.rejseplanen-module {
    @apply bg-secondary-white/50 text-accent-yellow;
  }

  section.weather-clock-module,
  section.dr-news-module {
    @apply text-accent-yellow;
  }
}

@layer utilities {
  /* Put custom utility class styles here */
  .animate-slide-in {
    animation: slide-in 5s ease-in-out forwards;
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-150%, 600%);
  }
  100% {
    transform: translate(900%, -100%);
  }
}
